.app {
  display: grid;
  height: 100vh;
  grid-template-columns: 380px 1fr;
  grid-template-rows: 1fr;
  font-family: sans-serif;

  & .app-aside {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e0e0e0;
    flex: 1;

    & .app-aside-header {
      padding: 16px;

      & h1 {
        font-size: 1.25rem;
        font-weight: 800;
      }
    }

    & .ocif-json-editor {
      width: 100%;
      flex: 1;
      border-top: 1px solid #e0e0e0;
      padding: 8px 0;
    }
  }
}
